= semantic_form_for [:admin, @book], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.has_many :book_categories, allow_destroy: true do |n_f|
      = n_f.input :category
    = f.input :title
    = f.input :description
    = f.input :price
    = f.input :quantity
    = f.input :year_of_publication
    = f.input :height
    = f.input :width
    = f.input :depth
    = f.input :materials
    = f.input :cover, as: :file
    = f.actions
